body {
  font-family: 'Phudu', cursive;
  background-color: #489CA5;
}

* {
  margin: 0px;
}

.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-logo {
  background-color: #B1CEC1;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 3rem;
  width: 15vh;
}

.titulo {
  color: #D89A50;
  text-shadow: 0px 0px 10px black;
  font-size: 50px;
  display: flex;
}

button {
  background-color: #B1CEC1;
  border: none;
  padding: 15px;
  margin: 30px 5px 5px 5px;
  font-size: 20px;
  border-radius: 20px;
}

.caract-botones {
  text-decoration: none;
  color: #10212F;
}

.botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: #10212F;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  display: block;
  padding: 5px;
  text-decoration: none;
  background-color: #B1CEC1;
  color: #10212F;
  font-size: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container-inicio {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin: 10px 5px 5px 5px;
}

.imgs-inicio {
  border-radius: 50px;
  max-width: 500px;
  padding: 1rem;
}

.anuncio {
  background-color: #c9184a;
  color: white;
  padding: 50px;
  margin: 40px 5px 5px 5px;
  font-size: 30px;
  border-radius: 100px;
  text-align: center;
}

.container-fila-red {
  display: flex;
  background-color: #c9184a;
  border-radius: 50px;
  padding: 15px;
  margin: 30px 5px 5px 5px;
  justify-content: space-evenly;
}

.imgs-fila {
  border-radius: 100px;
  width: 100px;
  height: 100px
}

.container-redes {
  display: flex;
  justify-content: end;
}

.redes {
  width: 30px;
  height: 30px;
  border-radius: 150px;
  margin: 30px 5px 5px 5px;
}

.titulo-texto {
  font-size: 35px;
  text-align: center;
  margin: 50px 5px 5px 5px;
}

.titulo-contacto{
  font-size: 38px;
  text-align: center;
  margin: 30px 8px 5px 5px;
  color: black
}

.texto-cont{
  font-size: 20px;
  text-align: center;
  margin: 20px 0px 20px 5px;
  color: black
}

.texto {
  font-size: 22px;
  text-align: center;
  margin: 19px 5px 20px 5px;
}

.info {
  font-size: 20px;
  text-align: center;
  margin: 21px 15px 15px 5px;
}

.frase {
  font-size: 38px;
  text-align: center;
  margin: 60px 5px 35px 5px;
  color: #D89A50
}

.solicitud {
  text-decoration: underline;
  color: black;
}

.container-photos {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 5%;
  grid-gap: 20px;
  grid-template-columns: no repeat(3, 1fr)
}

.img-pet {
  background-size: cover;
  /*width: 295px;*/
  width: 100%;
  /* height: 265px; */
  aspect-ratio: 1/1;
  /* border-radius: 150px; */
  border-radius: 50%;
}

#dog1 {
  background-image: url(assets/6c94ec_2874cd986e7744fc96d7f321127df1a8_mv2.webp);
}

#dog2 {
  background-image: url(assets/6c94ec_ad83fce85da84fe5850913dad962eb80_mv2.webp);
}

#dog3 {
  background-image: url(assets/3.webp);
}

#dog4 {
  background-image: url(assets/4.webp);
}

#dog5 {
  background-image: url(assets/5.webp);
}

#dog6 {
  background-image: url(assets/6.webp);
}

#dog7 {
  background-image: url(assets/7.webp);
}

#dog8 {
  background-image: url(assets/8.webp);
}

#dog9 {
  background-image: url(assets/9.webp);
}

#dog10 {
  background-image: url(assets/10.webp);
}

#dog11 {
  background-image: url(assets/11.webp)
}

#dog12 {
  background-image: url(assets/12.webp);
}

#dog13 {
  background-image: url(assets/13.webp);
}

#dog14 {
  background-image: url(assets/14.webp);
}

#dog15 {
  background-image: url(assets/15.webp);
}

#dog16 {
  background-image: url(assets/16.webp);
}

#dog17 {
  background-image: url(assets/17.webp);
}

#dog18 {
  background-image: url(assets/18.webp);
}

#dog19 {
  background-image: url(assets/19.webp);
}

#dog20 {
  background-image: url(assets/20.webp);
}

#dog21 {
  background-image: url(assets/21.webp);
}

#dog22 {
  background-image: url(assets/22.webp);
}

#dog23 {
  background-image: url(assets/23.webp);
}

#dog24 {
  background-image: url(assets/24.webp);
}

#dog25 {
  background-image: url(assets/25.webp);
}

#dog26 {
  background-image: url(assets/26.webp);
}

#dog27 {
  background-image: url(assets/27.webp);
}

#dog28 {
  background-image: url(assets/28.webp);
}

#dog29 {
  background-image: url(assets/29.webp);
}

#cat1 {
  background-image: url(assets/g1.webp);
}

#cat2 {
  background-image: url(assets/g2.webp);
}

#cat3 {
  background-image: url(assets/g3.webp);
}

#cat4 {
  background-image: url(assets/g4.webp);
}

#cat5 {
  background-image: url(assets/g5.webp);
}

#cat6 {
  background-image: url(assets/g6.webp);
}

#cat7 {
  background-image: url(assets/G7.webp);
}

#cat8 {
  background-image: url(assets/G8.webp);
}

#cat9 {
  background-image: url(assets/G9.webp);
}

#cat10 {
  background-image: url(assets/G10.webp);
}

#cat11 {
  background-image: url(assets/G11.webp)
}

#cat12 {
  background-image: url(assets/G12.webp);
}

.description {
  overflow: auto;
  height: -webkit-fill-available;
  background-color: rgba(31, 31, 31, 0.9);
  opacity: 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.title-pet {
  font-size: .9rem;
  color: white;
}

.description-pet {
  font-size: .8rem;
  color: white;
}

@media (max-width:768px) {
  .container-photos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width:768px) {
  .container-photos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form{
  box-sizing: border-box;
  background-color: #10212F;
  padding: 1.8em;
  color: #D89A50;
  text-shadow: 2px 2px 2px #000;
  font-size: 1.2em;
  width: 40%;
  height: 10%;
  margin-left: 375px;
  text-align-last: center;
} 

form > h2{
  text-align: center;
} 

.row{
  display: flex;
  justify-content: center;
} 

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  padding: 1em;
  background-color: #10212F;
} 

.input-group{
  margin: 5px;
}

.input-group > label{
  display: block;
} 

.input-group > select, .input-group > input{
  width: 100%;
  height: 30px; 
  font-size: 1em;
} 

textarea{
  width: 100%;
  resize: none;
} 

.submit{
  padding: 1em 1.5em;
  background-color: #489CA5;
  box-shadow: 2px 2px 2px #000;
  color: #10212F;
  margin: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
} 

@media screen and (max-width: 600px){
.row{
  flex-direction: column;
}
.form{
  margin-left: 0px;
  width: 100%;
}
}
  